@font-face {
    font-family: 'fontyfontsanscomp_regularregular';
    src: url('../fonts/fontyfontsanscomp-regular-webfont.eot');
    src: url('../fonts/fontyfontsanscomp-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontyfontsanscomp-regular-webfont.woff') format('woff'),
         url('../fonts/fontyfontsanscomp-regular-webfont.ttf') format('truetype'),
         url('../fonts/fontyfontsanscomp-regular-webfont.svg#fontyfontsanscomp_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
